.map-container {
    width: 100%;
    height: 100dvh;
}

.mapboxgl-ctrl-top-left,
.mapboxgl-ctrl-top,
.mapboxgl-ctrl-top-right {
  top: env(safe-area-inset-top);
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom,
.mapboxgl-ctrl-bottom-right {
  bottom: env(safe-area-inset-bottom);
}

.mapboxgl-ctrl-group button+button {
  border-top: none !important;
}

.ctrl-mapstyle-container {
  position: absolute;
  top: 0px;
  right: 0px;
}

.ctrl-location-container {
  position: absolute;
  top: 46px;
  right: 0px;
}

.ctrl-compass-container {
  position: absolute;
  top: 46px;
  right: 0px;
  box-shadow: none !important;
}

.ctrl-location-container .mapboxgl-ctrl-geolocate {
  margin-top: 36px;
}

.mapboxgl-ctrl-group button {
  width: 36px !important;
  height: 36px !important;
}

.mapboxgl-ctrl-geocoder.mapboxgl-ctrl-geocoder--collapsed {
  width: 36px !important;
  min-width: 36px !important;
}

.mapboxgl-ctrl-geocoder--input {
    height: 36px !important;
    padding: 6px 35px !important;
}

.mapboxgl-ctrl-geocoder--icon-search {
    left: 7px !important;
    width: 20px !important;
    height: 20px !important;
}

.mapboxgl-ctrl-geocoder--icon {
    top: 8px !important;
}

.mapboxgl-ctrl-geocoder--icon-close {
    width: 16px !important;
    height: 16px !important;
    margin-top: 3px !important;
    margin-right: 0 !important;
}

.mapboxgl-user-location-dot:after {
    border: 3px solid var(--ion-color-tertiary) !important;
}

.mapboxgl-user-location-show-heading .mapboxgl-user-location-heading:after, .mapboxgl-user-location-show-heading .mapboxgl-user-location-heading:before {
    border-bottom: 10px solid var(--ion-color-tertiary) !important;
}

.mapboxgl-user-location-accuracy-circle {
    animation: user-location-accuracy-circle-pulsing ease-in-out 2s infinite;
}

.mapboxgl-user-location-dot:before {
    display: none;
}

@keyframes user-location-accuracy-circle-pulsing {
  0% {
    opacity: 0;
    height: 0px;
    width: 0px;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}