body {
  /* Prevent history back and forward on swipe */
  overscroll-behavior-x: none; /* Prevent left/right overscroll chaining */
  touch-action: pan-y; /* Allow only vertical scrolling */
  user-select: none; /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE/Edge */
  color-scheme: none;
  font-family: sans-serif;
}

.full-screen {
  height: 100%;
}

.main {
  display: flex;
  min-height: 100%;
  background-color: var(--main-background-color);
}

.main > div {
  width: 100%;
}

.center {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.alert-wrapper {
  background-color: white !important;
}

.alert-message {
  white-space: pre-line;
}

.hidden {
  display: none !important;
}